{% if site.advertisement_bottom %}
<script type="text/javascript">
    if (/(iPhone|iPad|iPod|iOS|Android)/i.test(navigator.userAgent))
    { //移动端
    	var cpro_id = "u3471696";
    	document.write("\<script type=\"text\/javascript\" src=\"http:\/\/cpro.baidustatic.com\/cpro\/ui\/cm.js\"\>\<\/script\>");
	}
	else
	{ //pc端
		/*700*200信息流*/
		var cpro_id = "u3469788";
		document.write("\<script type=\"text\/javascript\" src=\"\/\/cpro.baidustatic.com\/cpro\/ui\/c.js\"\>\<\/script\>");
	}
</script>

{% endif %}
