{% if site.copyright_info %}
<p><strong><font color="red">版权申明<font></strong></p>
<!-- <p>本文为博主原创文章，未经允许不得转载: <a href = "http://www.luzexi.com">http://www.luzexi.com</a></p> -->
<p><strong><font color="red">本文为博主原创文章，未经允许不得转载:</font></strong></p>
<p><a href = "{{site.url}}{{page.url}}">{{page.title}}</a></p>
<!-- <p>本文为博主原创文章，未经允许不得转载: <a href = "{{site.url}}{{page.url}}">{{page.title}}</a></p> -->
<p><strong><font color="red">Copyright attention</font></strong></p>
<p><strong><font color="red">Please don't reprint without authorize.</font></strong></p>
{% endif %}
