{% if site.copyright_info %}
<p>版权申明</p>
<p>本文为博主原创文章，转载请注明出处: <a href = "http://www.luzexi.com">http://www.luzexi.com</a></p>
<!-- <p>本文为博主原创文章，转载请注明出处: <a href = "{{site.url}}{{page.url}}">{{page.title}}</a></p> -->
<!-- <p>本文为博主原创文章，转载请注明出处: <a href = "{{site.url}}{{page.url}}">{{page.title}}</a></p> -->
<p>Copyright attention</p>
<p>If you would like to reprint this article please write auth's name and link in the page.</p>
{% endif %}
