{% if site.tip_info %}
<!-- 代码1：放在页面需要展示的位置  -->
<!-- 如果您配置过sourceid，建议在div标签中配置sourceid、cid(分类id)，没有请忽略  -->
<!-- <div id="cyReward" role="cylabs" data-use="reward" align="center" ></div> -->

<script type="text/javascript" src="/assets/js/tctip-1.0.3.min.js"></script>
<script>
  new tctip({
    top: '50%',
    button: {
      id: 9,
      type: 'zanzhu'
    },
    list: [
      {
        type: 'alipay',
        qrImg: '/assets/common/alipay.jpg'
      }, {
        type: 'wechat',
        qrImg: '/assets/common/wechatpay.jpg'
      }, {
        type: 'bitcoin',
        qrContent: '1ErCFmtoQY2KDctjgPALZri3USsMqdSvqh'
      }
    ]
  }).init()
</script>
{% endif %}