---
layout: default
---
<div class="category-archive">
  <div>
    <span class="title">{{ page.category }}</span>
  </div>
  <div>
    <ul>
		{{ content }}
		<li>{% include advertisement_category.html %}</li>
    </ul>
  </div>
</div>
