---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
  <p>感谢您的耐心阅读</p>
  <p>Thanks for your reading</p>
</div>
<div>
  {% include tip.html %}
  <li>{% include copyright.html %}</li>
  <li>{% include gongzhonghao.html %}</li>
</div>
<div class="related">
    {% include share.html %}
</div>

{% include advertisement_end.html %}

{% include related.html %}

{% include comments.html %}

{% include advertisement_bottom.html %}